openapi: 3.0.0
info:
  version: 3.0.0
  title: Composio Platform API
  description: >-

    # Composio Platform API Documentation


    The Composio Platform API provides a comprehensive set of endpoints for integrating with the Composio
    platform.


    ## Authentication


    The API supports two authentication methods:

    - **API Key Authentication**: Use the `x-api-key` header with a valid project API key.

    - **Cookie Authentication**: For browser-based applications using the `authToken` cookie.


    ## Base URL


    The base URL for all API endpoints is:

    - Production: `https://api.composio.dev`

    - Staging: `https://staging-backend.composio.dev`


    ## Rate Limits


    The API enforces rate limits to ensure fair usage. Rate limit information is provided in response headers.


    ## Response Format


    All responses are returned in JSON format with consistent error handling patterns.


    ## API Categories


    The API is organized into the following categories:

    - **Authentication**: User and session management

    - **Projects**: Organization and project management

    - **Toolkits**: Integration points with external services

    - **Tools**: Individual actions within toolkits

    - **Triggers**: Event-driven integration triggers

    - **MCP**: Model Control Protocol for AI assistant integrations

    - **Files**: File upload and management

    - **Team Members**: Team access and permissions

  contact:
    name: Composio Support
    url: https://composio.dev/support
    email: support@composio.dev
  license:
    name: Proprietary
    url: https://composio.dev/terms
servers:
  - url: https://backend.composio.dev
    description: production API
  - url: https://staging-backend.composio.dev
    description: Staging API
  - url: http://localhost:9900
    description: Local API
security:
  - ApiKeyAuth: []
  - CookieAuth: []
tags:
  - name: Authentication
    description: Authentication related endpoints
  - name: Auth Configs
    description: Authentication configuration management
  - name: CLI
    description: CLI integration endpoints
  - name: Connected Accounts
    description: Connected account management
  - name: Logs
    description: Logging and monitoring
  - name: OpenAPI
    description: OpenAPI specification management
  - name: Organization
    description: Organization management
  - name: API Keys
    description: API key management
  - name: Webhooks
    description: Webhook configuration
  - name: Team
    description: Team member management
  - name: Toolkits
    description: Toolkit and tool management
  - name: Tools
    description: Tool execution endpoints
  - name: Triggers
    description: Trigger management and execution
  - name: Payments
    description: Payment and subscription management
  - name: Files
    description: File management
  - name: MCP
    description: MCP server management
  - name: Migration
    description: Endpoints to help with migration from v1 to v3
  - name: MCP Partner
    description: MCP partner management
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: >-
        API key authentication. Provide your project API key in the x-api-key header for server-to-server
        authentication. API keys can be created and managed in the Composio dashboard under your project
        settings.
    OrgApiKeyAuth:
        type: apiKey
        in: header
        name: X-ORG-API-KEY
    CookieAuth:
      type: apiKey
      in: cookie
      name: authToken
      description: >-
        Cookie-based session authentication. Used for browser-based access after logging in through the
        Composio web interface or using the magic link authentication flow. The cookie is automatically set
        during successful authentication.
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
            code:
              type: number
            status:
              type: number
            request_id:
              type: string
            suggested_fix:
              type: string
            errors:
              type: array
              items:
                type: string
          required:
            - message
            - code
            - status
      required:
        - error
    InviteTeamMemberBody:
      type: object
      properties:
        email:
          type: string
          format: email
        name:
          type: string
        role:
          type: string
        verify_host:
          type: string
      required:
        - email
        - name
        - role
    UpdateTeamMemberBody:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
          format: email
        role:
          type: string
      required:
        - name
        - email
        - role
    DeprecatedToolkitInfo:
      type: object
      properties:
        toolkitId:
          type: string
      required:
        - toolkitId
      description: Deprecated toolkit ID
      example:
        toolkitId: 550e8400-e29b-41d4-a716-446655440000
    Tool:
      type: object
      properties:
        slug:
          type: string
          description: Unique identifier for the tool
          example: github-actions
        name:
          type: string
          description: Human-readable display name of the tool
          example: GitHub Actions
        description:
          type: string
          description: Detailed explanation of the tool's functionality and purpose
          example: Automate GitHub workflows including CI/CD, issue management, and release processes
        toolkit:
          type: object
          properties:
            slug:
              type: string
              description: Unique identifier of the parent toolkit
              example: github
            name:
              type: string
              description: Human-readable name of the parent toolkit
              example: GitHub
            logo:
              type: string
              description: URL to the toolkit logo image
              example: https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png
          required:
            - slug
            - name
            - logo
        input_parameters:
          type: object
          additionalProperties:
            nullable: true
          description: Schema definition of required input parameters for the tool
          example:
            repo_name:
              type: string
              description: GitHub repository name in owner/repo format
              required: true
              example: octocat/Hello-World
            workflow_id:
              type: string
              description: ID or filename of the workflow to trigger
              required: true
              example: main.yml
        no_auth:
          type: boolean
          description: Indicates if the tool can be used without authentication
          example: false
        available_versions:
          type: array
          items:
            type: string
          description: List of all available versions for this tool
          example:
            - '0_1'
            - latest
            - latest:base
        version:
          type: string
          description: Current version of the tool
          example: latest
        output_parameters:
          type: object
          additionalProperties:
            nullable: true
          description: Schema definition of return values from the tool
          example:
            run_id:
              type: number
              description: ID of the workflow run that was triggered
              example: 12345678
            status:
              type: string
              description: Status of the workflow run
              example: completed
              enum:
                - queued
                - in_progress
                - completed
                - failed
        scopes:
          type: array
          items:
            type: string
          description: List of scopes associated with the tool
          example:
            - https://www.googleapis.com/auth/gmail.modify
        tags:
          type: array
          items:
            type: string
          description: List of tags associated with the tool for categorization and filtering
          example:
            - ci-cd
            - github
            - automation
            - devops
        deprecated:
          type: object
          properties:
            displayName:
              type: string
              description: The display name of the tool
              example: GitHub Actions
            version:
              type: string
              description: Current version identifier of the tool
              example: '0_1'
            available_versions:
              type: array
              items:
                type: string
              description: List of all available versions for this tool
              example:
                - '0_1'
                - latest
                - latest:base
            is_deprecated:
              type: boolean
              description: Indicates if this tool is deprecated and may be removed in the future
              example: false
            toolkit:
              type: object
              properties:
                logo:
                  type: string
                  description: URL to the toolkit logo image
                  example: https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png
              required:
                - logo
          required:
            - displayName
            - version
            - available_versions
            - is_deprecated
            - toolkit
      required:
        - slug
        - name
        - description
        - toolkit
        - input_parameters
        - no_auth
        - available_versions
        - version
        - output_parameters
        - scopes
        - tags
        - deprecated
    ToolsPaginated:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Tool'
        next_cursor:
          type: string
          nullable: true
        total_pages:
          type: number
        current_page:
          type: number
        total_items:
          type: number
      required:
        - items
        - total_pages
        - current_page
        - total_items
  parameters: {}
paths:
  /api/v3/auth_configs:
    post:
      summary: Create new authentication configuration
      tags:
        - Auth Configs
      operationId: postAuthConfigs
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                toolkit:
                  type: object
                  properties:
                    slug:
                      type: string
                      description: Toolkit slug to create auth config for
                  required:
                    - slug
                auth_config:
                  oneOf:
                    - type: object
                      properties:
                        type:
                          type: string
                          enum:
                            - use_composio_managed_auth
                        name:
                          type: string
                          description: The name of the integration
                        credentials:
                          type: object
                          additionalProperties:
                            anyOf:
                              - type: string
                              - type: boolean
                              - type: number
                          default: {}
                        tool_access_config:
                          type: object
                          properties:
                            tools_for_connected_account_creation:
                              type: array
                              items:
                                type: string
                              default: []
                              description: >-
                                Tools used to generate the minimum required scopes for the auth config (only
                                valid for OAuth). If passed, this will update the scopes.
                      required:
                        - type
                    - type: object
                      properties:
                        type:
                          type: string
                          enum:
                            - use_custom_auth
                        name:
                          type: string
                          description: The name of the integration
                        authScheme:
                          type: string
                          enum:
                            - OAUTH2
                            - OAUTH1
                            - API_KEY
                            - BASIC
                            - BILLCOM_AUTH
                            - BEARER_TOKEN
                            - GOOGLE_SERVICE_ACCOUNT
                            - NO_AUTH
                            - BASIC_WITH_JWT
                            - COMPOSIO_LINK
                            - CALCOM_AUTH
                        credentials:
                          type: object
                          additionalProperties:
                            anyOf:
                              - type: string
                              - type: boolean
                              - type: number
                        proxy_config:
                          type: object
                          properties:
                            proxy_url:
                              type: string
                              description: The url of the auth proxy
                            proxy_auth_key:
                              type: string
                              description: The auth key for the auth proxy
                          required:
                            - proxy_url
                        tool_access_config:
                          type: object
                          properties:
                            tools_for_connected_account_creation:
                              type: array
                              items:
                                type: string
                              default: []
                              description: >-
                                Tools used to generate the minimum required scopes for the auth config (only
                                valid for OAuth). If passed, this will update the scopes.
                      required:
                        - type
                        - authScheme
                        - credentials
                  default:
                    type: use_composio_managed_auth
                    credentials: {}
                    restrict_to_following_tools: []
              required:
                - toolkit
      responses:
        '201':
          description: Successfully created auth config
          content:
            application/json:
              schema:
                type: object
                properties:
                  toolkit:
                    type: object
                    properties:
                      slug:
                        type: string
                        description: The unique key of the toolkit
                    required:
                      - slug
                  auth_config:
                    type: object
                    properties:
                      id:
                        type: string
                        format: authConfigId
                        description: The auth config id of the toolkit (must be a valid auth config id)
                      auth_scheme:
                        type: string
                        description: The authentication mode of the toolkit
                      is_composio_managed:
                        type: boolean
                        description: Whether the auth config is managed by Composio
                      restrict_to_following_tools:
                        type: array
                        items:
                          type: string
                        default: []
                        description: The tools that the user can use with the auth config
                    required:
                      - id
                      - auth_scheme
                      - is_composio_managed
                required:
                  - toolkit
                  - auth_config
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Composio from '@composio/client';

            const client = new Composio({
              apiKey: 'My API Key',
            });

            const authConfig = await client.authConfigs.create({ toolkit: { slug: 'slug' } });

            console.log(authConfig.auth_config);
        - lang: Python
          source: |-
            from composio_client import Composio

            client = Composio(
                api_key="My API Key",
            )
            auth_config = client.auth_configs.create(
                toolkit={
                    "slug": "slug"
                },
            )
            print(auth_config.auth_config)
    get:
      summary: List authentication configurations with optional filters
      tags:
        - Auth Configs
      operationId: getAuthConfigs
      parameters:
        - schema:
            anyOf:
              - type: string
              - type: boolean
            description: Whether to filter by composio managed auth configs
          required: false
          description: Whether to filter by composio managed auth configs
          name: is_composio_managed
          in: query
        - schema:
            type: string
          required: false
          description: Comma-separated list of toolkit slugs to filter auth configs by
          in: query
          name: toolkit_slug
        - schema:
            type: string
            description: The app id to filter by
          required: false
          description: The app id to filter by
          name: deprecated_app_id
          in: query
        - schema:
            type: string
          required: false
          name: deprecated_status
          in: query
        - schema:
            type: boolean
            nullable: true
            default: false
            description: Show disabled auth configs
          required: false
          description: Show disabled auth configs
          name: show_disabled
          in: query
        - schema:
            type: string
            description: Search auth configs by name
          required: false
          description: Search auth configs by name
          name: search
          in: query
        - schema:
            type: number
            nullable: true
          required: false
          description: Number of items per page
          name: limit
          in: query
        - schema:
            type: string
          required: false
          description: >-
            Cursor for pagination. The cursor is a base64 encoded string of the page and limit. The page is
            the page number and the limit is the number of items per page. The cursor is used to paginate
            through the items. The cursor is not required for the first page.
          name: cursor
          in: query
      responses:
        '200':
          description: Successfully fetched auth configs
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: authConfigId
                          description: The unique ID of the authentication configuration
                        uuid:
                          type: string
                          description: The UUID of the authentication configuration (for backward compatibility)
                        type:
                          type: string
                          enum:
                            - default
                            - custom
                          description: The type of the authentication configuration (custom or default)
                        toolkit:
                          type: object
                          properties:
                            slug:
                              type: string
                              description: The unique identifier of the integration app
                            logo:
                              type: string
                              description: The URL to the integration app's logo image
                          required:
                            - slug
                            - logo
                          description: Information about the associated integration
                        name:
                          type: string
                          description: The display name of the authentication configuration
                        auth_scheme:
                          type: string
                          enum:
                            - OAUTH2
                            - OAUTH1
                            - API_KEY
                            - BASIC
                            - BILLCOM_AUTH
                            - BEARER_TOKEN
                            - GOOGLE_SERVICE_ACCOUNT
                            - NO_AUTH
                            - BASIC_WITH_JWT
                            - COMPOSIO_LINK
                            - CALCOM_AUTH
                          description: The authentication scheme used (e.g., OAuth2, API Key, etc.)
                        is_composio_managed:
                          type: boolean
                          description: Whether this authentication configuration is managed by Composio or the user
                        credentials:
                          type: object
                          additionalProperties:
                            nullable: true
                          description: >-
                            The authentication credentials (tokens, keys, etc.) - may be partially hidden for
                            security
                        status:
                          type: string
                          enum:
                            - ENABLED
                            - DISABLED
                          description: Current status of the authentication configuration
                        created_by:
                          type: string
                          description: The identifier of the user who created the auth config
                        created_at:
                          type: string
                          description: ISO 8601 date-time when the auth config was created
                        last_updated_at:
                          type: string
                          description: ISO 8601 date-time when the auth config was last updated
                        no_of_connections:
                          type: number
                          description: The number of active connections using this auth config
                        expected_input_fields:
                          type: array
                          items:
                            nullable: true
                          description: Fields expected during connection initialization
                        tool_access_config:
                          type: object
                          properties:
                            tools_for_connected_account_creation:
                              type: array
                              items:
                                type: string
                              default: []
                              description: >-
                                Tools used to generate the minimum required scopes for the auth config (only
                                valid for OAuth). If passed, this will update the scopes.
                            tools_available_for_execution:
                              type: array
                              items:
                                type: string
                              default: []
                              description: >-
                                The actions that the user can perform on the auth config. If passed, this will
                                update the actions that the user can perform on the auth config.
                        deprecated_params:
                          type: object
                          properties:
                            default_connector_id:
                              type: string
                              nullable: true
                              description: 'Deprecated: Default connector ID'
                            member_uuid:
                              type: string
                              description: 'Deprecated: Member UUID'
                            toolkit_id:
                              type: string
                              description: 'Deprecated: Toolkit ID'
                            expected_input_fields:
                              type: array
                              items:
                                type: object
                                additionalProperties:
                                  nullable: true
                              description: 'Deprecated: Fields expected during connection initialization'
                          required:
                            - default_connector_id
                          description: Deprecated parameters maintained for backward compatibility
                      required:
                        - id
                        - uuid
                        - type
                        - toolkit
                        - name
                        - status
                        - no_of_connections
                        - tool_access_config
                        - deprecated_params
                  next_cursor:
                    type: string
                    nullable: true
                  total_pages:
                    type: number
                  current_page:
                    type: number
                  total_items:
                    type: number
                required:
                  - items
                  - total_pages
                  - current_page
                  - total_items
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Composio from '@composio/client';

            const client = new Composio({
              apiKey: 'My API Key',
            });

            const authConfigs = await client.authConfigs.list();

            console.log(authConfigs.current_page);
        - lang: Python
          source: |-
            from composio_client import Composio

            client = Composio(
                api_key="My API Key",
            )
            auth_configs = client.auth_configs.list()
            print(auth_configs.current_page)
  /api/v3/auth_configs/{nanoid}:
    get:
      summary: Get single authentication configuration by ID
      description: >-
        Retrieves detailed information about a specific authentication configuration using its unique
        identifier.
      tags:
        - Auth Configs
      security:
        - ApiKeyAuth: []
      operationId: getAuthConfigsByNanoid
      parameters:
        - schema:
            type: string
            format: authConfigId
            description: The unique identifier of the authentication configuration to retrieve
          required: true
          description: The unique identifier of the authentication configuration to retrieve
          name: nanoid
          in: path
      responses:
        '200':
          description: Successfully fetched auth config
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: authConfigId
                    description: The unique ID of the authentication configuration
                  uuid:
                    type: string
                    description: The UUID of the authentication configuration (for backward compatibility)
                  type:
                    type: string
                    enum:
                      - default
                      - custom
                    description: The type of the authentication configuration (custom or default)
                  toolkit:
                    type: object
                    properties:
                      slug:
                        type: string
                        description: The unique identifier of the integration app
                      logo:
                        type: string
                        description: The URL to the integration app's logo image
                    required:
                      - slug
                      - logo
                    description: Information about the associated integration
                  name:
                    type: string
                    description: The display name of the authentication configuration
                  auth_scheme:
                    type: string
                    enum:
                      - OAUTH2
                      - OAUTH1
                      - API_KEY
                      - BASIC
                      - BILLCOM_AUTH
                      - BEARER_TOKEN
                      - GOOGLE_SERVICE_ACCOUNT
                      - NO_AUTH
                      - BASIC_WITH_JWT
                      - COMPOSIO_LINK
                      - CALCOM_AUTH
                    description: The authentication scheme used (e.g., OAuth2, API Key, etc.)
                  is_composio_managed:
                    type: boolean
                    description: Whether this authentication configuration is managed by Composio or the user
                  credentials:
                    type: object
                    additionalProperties:
                      nullable: true
                    description: >-
                      The authentication credentials (tokens, keys, etc.) - may be partially hidden for
                      security
                  status:
                    type: string
                    enum:
                      - ENABLED
                      - DISABLED
                    description: Current status of the authentication configuration
                  created_by:
                    type: string
                    description: The identifier of the user who created the auth config
                  created_at:
                    type: string
                    description: ISO 8601 date-time when the auth config was created
                  last_updated_at:
                    type: string
                    description: ISO 8601 date-time when the auth config was last updated
                  no_of_connections:
                    type: number
                    description: The number of active connections using this auth config
                  expected_input_fields:
                    type: array
                    items:
                      nullable: true
                    description: Fields expected during connection initialization
                  tool_access_config:
                    type: object
                    properties:
                      tools_for_connected_account_creation:
                        type: array
                        items:
                          type: string
                        default: []
                        description: >-
                          Tools used to generate the minimum required scopes for the auth config (only valid
                          for OAuth). If passed, this will update the scopes.
                      tools_available_for_execution:
                        type: array
                        items:
                          type: string
                        default: []
                        description: >-
                          The actions that the user can perform on the auth config. If passed, this will
                          update the actions that the user can perform on the auth config.
                  deprecated_params:
                    type: object
                    properties:
                      default_connector_id:
                        type: string
                        nullable: true
                        description: 'Deprecated: Default connector ID'
                      member_uuid:
                        type: string
                        description: 'Deprecated: Member UUID'
                      toolkit_id:
                        type: string
                        description: 'Deprecated: Toolkit ID'
                      expected_input_fields:
                        type: array
                        items:
                          type: object
                          additionalProperties:
                            nullable: true
                        description: 'Deprecated: Fields expected during connection initialization'
                    required:
                      - default_connector_id
                    description: Deprecated parameters maintained for backward compatibility
                required:
                  - id
                  - uuid
                  - type
                  - toolkit
                  - name
                  - status
                  - no_of_connections
                  - tool_access_config
                  - deprecated_params
        '400':
          description: Bad request - Invalid auth config ID format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found - Auth configuration does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error - Something went wrong on the server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Composio from '@composio/client';

            const client = new Composio({
              apiKey: 'My API Key',
            });

            const authConfig = await client.authConfigs.retrieve('nanoid');

            console.log(authConfig.id);
        - lang: Python
          source: |-
            from composio_client import Composio

            client = Composio(
                api_key="My API Key",
            )
            auth_config = client.auth_configs.retrieve(
                "nanoid",
            )
            print(auth_config.id)
    patch:
      summary: Update an authentication configuration
      description: >-
        Modifies an existing authentication configuration with new credentials or other settings. Only
        specified fields will be updated.
      tags:
        - Auth Configs
      security:
        - ApiKeyAuth: []
      operationId: patchAuthConfigsByNanoid
      parameters:
        - schema:
            type: string
            format: authConfigId
            description: The unique identifier of the authentication configuration to update
          required: true
          description: The unique identifier of the authentication configuration to update
          name: nanoid
          in: path
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  properties:
                    type:
                      type: string
                      enum:
                        - custom
                    credentials:
                      type: object
                      additionalProperties:
                        nullable: true
                    tool_access_config:
                      type: object
                      properties:
                        tools_for_connected_account_creation:
                          type: array
                          items:
                            type: string
                          default: []
                          description: >-
                            Tools used to generate the minimum required scopes for the auth config (only valid
                            for OAuth). If passed, this will update the scopes.
                        tools_available_for_execution:
                          type: array
                          items:
                            type: string
                          default: []
                          description: >-
                            The actions that the user can perform on the auth config. If passed, this will
                            update the actions that the user can perform on the auth config.
                  required:
                    - type
                    - credentials
                - type: object
                  properties:
                    type:
                      type: string
                      enum:
                        - default
                    scopes:
                      type: string
                    tool_access_config:
                      type: object
                      properties:
                        tools_for_connected_account_creation:
                          type: array
                          items:
                            type: string
                          default: []
                          description: >-
                            Tools used to generate the minimum required scopes for the auth config (only valid
                            for OAuth). If passed, this will update the scopes.
                        tools_available_for_execution:
                          type: array
                          items:
                            type: string
                          default: []
                          description: >-
                            The actions that the user can perform on the auth config. If passed, this will
                            update the actions that the user can perform on the auth config.
                  required:
                    - type
            examples:
              standardUpdate:
                summary: Standard credential update
                value:
                  auth_config:
                    credentials:
                      api_key: YOUR_NEW_API_KEY
                      client_secret: YOUR_NEW_CLIENT_SECRET
                    restrict_to_following_tools:
                      - tool1
                      - tool2
      responses:
        '200':
          description: Successfully updated auth config
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '400':
          description: Bad request - Invalid input or credentials format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found - Auth configuration does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error - Something went wrong on the server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codeSamples:
        - lang: JavaScript
          source: >-
            import Composio from '@composio/client';


            const client = new Composio({
              apiKey: 'My API Key',
            });


            const authConfig = await client.authConfigs.update('nanoid', { credentials: { foo: 'bar' }, type:
            'custom' });


            console.log(authConfig);
        - lang: Python
          source: |-
            from composio_client import Composio

            client = Composio(
                api_key="My API Key",
            )
            auth_config = client.auth_configs.update(
                nanoid="nanoid",
                credentials={
                    "foo": "bar"
                },
                type="custom",
            )
            print(auth_config)
    delete:
      summary: Delete an authentication configuration
      description: >-
        Soft-deletes an authentication configuration by marking it as deleted in the database. This operation
        cannot be undone.
      tags:
        - Auth Configs
      security:
        - ApiKeyAuth: []
      operationId: deleteAuthConfigsByNanoid
      parameters:
        - schema:
            type: string
            format: authConfigId
            description: The unique identifier of the authentication configuration to delete
          required: true
          description: The unique identifier of the authentication configuration to delete
          name: nanoid
          in: path
      responses:
        '200':
          description: Successfully deleted auth config
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '400':
          description: Bad request - Invalid auth config ID format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Auth config not found - The specified configuration does not exist or was already deleted
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '500':
          description: Internal server error - Something went wrong on the server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Composio from '@composio/client';

            const client = new Composio({
              apiKey: 'My API Key',
            });

            const authConfig = await client.authConfigs.delete('nanoid');

            console.log(authConfig);
        - lang: Python
          source: |-
            from composio_client import Composio

            client = Composio(
                api_key="My API Key",
            )
            auth_config = client.auth_configs.delete(
                "nanoid",
            )
            print(auth_config)
  /api/v3/auth_configs/{nanoid}/{status}:
    patch:
      summary: Enable or disable an authentication configuration
      description: >-
        Updates the status of an authentication configuration to either enabled or disabled. Disabled
        configurations cannot be used for new connections.
      tags:
        - Auth Configs
      security:
        - ApiKeyAuth: []
      operationId: patchAuthConfigsByNanoidByStatus
      parameters:
        - schema:
            type: string
            format: authConfigId
            description: The unique identifier of the authentication configuration to update
          required: true
          description: The unique identifier of the authentication configuration to update
          name: nanoid
          in: path
        - schema:
            type: string
            enum:
              - ENABLED
              - DISABLED
            description: The new status to set for the auth configuration
          required: true
          description: The new status to set for the auth configuration
          name: status
          in: path
      responses:
        '200':
          description: Successfully updated auth config status
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '400':
          description: Bad request - Invalid auth config ID or status value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found - Auth configuration does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error - Something went wrong on the server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Composio from '@composio/client';

            const client = new Composio({
              apiKey: 'My API Key',
            });

            const response = await client.authConfigs.updateStatus('ENABLED', { nanoid: 'nanoid' });

            console.log(response);
        - lang: Python
          source: |-
            from composio_client import Composio

            client = Composio(
                api_key="My API Key",
            )
            response = client.auth_configs.update_status(
                status="ENABLED",
                nanoid="nanoid",
            )
            print(response)
  /api/v3/cli/create-session:
    post:
      summary: Create a new CLI session with auth code
      description: >-
        Generates a new CLI session with a random 6-character code. This endpoint is the first step in the CLI
        authentication flow, creating a session that can later be linked to a user account. The generated code
        is displayed to the user in the CLI and should be entered in the web interface to complete
        authentication.
      tags:
        - CLI Authentication
      operationId: postCliCreateSession
      responses:
        '201':
          description: CLI session created successfully with a unique ID and temporary authentication code
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique identifier for the CLI session. UUID v4 format used for tracking and retrieval.
                  code:
                    type: string
                    description: The 6-character hexadecimal code used for CLI login
                    example: ABC123
                  expiresAt:
                    type: string
                    description: The ISO timestamp when the session expires
                    example: '2023-01-01T12:00:00.000Z'
                  status:
                    type: string
                    enum:
                      - pending
                      - linked
                    description: The current status of the session
                    example: pending
                required:
                  - id
                  - code
                  - expiresAt
                  - status
        '400':
          description: Bad request - Invalid parameters or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error - Failed to create CLI session due to server-side issue
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Composio from '@composio/client';

            const client = new Composio({
              apiKey: 'My API Key',
            });

            const response = await client.cli.createSession();

            console.log(response.id);
        - lang: Python
          source: |-
            from composio_client import Composio

            client = Composio(
                api_key="My API Key",
            )
            response = client.cli.create_session()
            print(response.id)
  /api/v3/cli/get-session:
    get:
      summary: Get CLI session details by ID or code
      description: >-
        Retrieves the current state of a CLI session using either the session ID (UUID) or the 6-character
        code. This endpoint is used by both the CLI client to check if the session has been linked, and by the
        web interface to display session details before linking.
      tags:
        - CLI Authentication
      operationId: getCliGetSession
      parameters:
        - schema:
            type: string
            description: The CLI session ID or code to check
            example: ABC123
          required: true
          description: >-
            CLI session ID (UUID format) or 6-character code to check. Both formats are supported for
            flexibility in client implementations.
          name: id
          in: query
      responses:
        '200':
          description: >-
            CLI session retrieved successfully. Returns full session details including linked account
            information if available.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier for the CLI session
                    example: 123e4567-e89b-12d3-a456-426614174000
                  code:
                    type: string
                    description: The 6-character hexadecimal code used for CLI login
                    example: ABC123
                  status:
                    type: string
                    enum:
                      - pending
                      - linked
                    description: The current status of the session
                    example: pending
                  expiresAt:
                    type: string
                    description: The ISO timestamp when the session expires
                    example: '2023-01-01T12:00:00.000Z'
                  account:
                    type: object
                    nullable: true
                    properties:
                      id:
                        type: string
                        description: The ID of the linked account
                        example: user_12345
                      email:
                        type: string
                        format: email
                        description: The email address of the linked account
                        example: user@example.com
                      name:
                        type: string
                        description: The display name of the linked account
                        example: John Doe
                    required:
                      - id
                      - email
                      - name
                    description: Information about the linked account, if any. Null if the session status is "pending".
                required:
                  - id
                  - code
                  - status
                  - expiresAt
                  - account
        '400':
          description: >-
            Invalid session ID or code format. The ID must be either a valid UUID or a 6-character hexadecimal
            code.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: CLI session not found or expired. Sessions expire after 10 minutes from creation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error. An unexpected error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Composio from '@composio/client';

            const client = new Composio({
              apiKey: 'My API Key',
            });

            const response = await client.cli.getSession({ id: 'ABC123' });

            console.log(response.id);
        - lang: Python
          source: |-
            from composio_client import Composio

            client = Composio(
                api_key="My API Key",
            )
            response = client.cli.get_session(
                id="ABC123",
            )
            print(response.id)
  /api/v3/cli/link-session:
    put:
      summary: Link a CLI session to the authenticated user
      description: >-
        Links a pending CLI session to the currently authenticated user. This is the final step in the CLI
        authentication flow, where the user enters the code in the web interface and their account is
        associated with the CLI session, allowing the CLI to act on their behalf.
      tags:
        - CLI Authentication
      operationId: putCliLinkSession
      requestBody:
        description: The session ID or code to link to the current user
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: The CLI session ID or code to link to the current user
                  example: ABC123
              required:
                - id
            example:
              id: ABC123
      responses:
        '200':
          description: >-
            CLI session linked successfully. The CLI client can now use this session to authenticate API
            requests on behalf of the linked user.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier for the CLI session
                    example: 123e4567-e89b-12d3-a456-426614174000
                  code:
                    type: string
                    description: The 6-character hexadecimal code used for CLI login
                    example: ABC123
                  status:
                    type: string
                    enum:
                      - pending
                      - linked
                    description: The current status of the session
                    example: linked
                  expiresAt:
                    type: string
                    description: The ISO timestamp when the session expires
                    example: '2023-01-01T12:00:00.000Z'
                  account:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The ID of the linked account
                        example: user_12345
                      email:
                        type: string
                        format: email
                        description: The email address of the linked account
                        example: user@example.com
                      name:
                        type: string
                        description: The display name of the linked account
                        example: John Doe
                    required:
                      - id
                      - email
                      - name
                    description: >-
                      Information about the linked account. Always present for successful responses from this
                      endpoint.
                required:
                  - id
                  - code
                  - status
                  - expiresAt
                  - account
        '400':
          description: >-
            Bad request. This can occur if: 1) The session ID or code format is invalid, 2) The session is
            already linked to an account, or 3) The request contains invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: >-
            Unauthorized. Authentication is required to link a CLI session. The user must be logged in to
            complete this operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: >-
            Not found. This can occur if: 1) The CLI session does not exist, 2) The session has expired
            (10-minute lifetime), or 3) The authenticated user account cannot be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error. An unexpected error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Composio from '@composio/client';

            const client = new Composio({
              apiKey: 'My API Key',
            });

            const response = await client.cli.linkSession({ id: 'ABC123' });

            console.log(response.id);
        - lang: Python
          source: |-
            from composio_client import Composio

            client = Composio(
                api_key="My API Key",
            )
            response = client.cli.link_session(
                id="ABC123",
            )
            print(response.id)
  /api/v3/connected_accounts:
    get:
      summary: List connected accounts with optional filters
      tags:
        - Connected Accounts
      operationId: getConnectedAccounts
      parameters:
        - schema:
            type: array
            nullable: true
            items:
              type: string
            description: The toolkit slugs of the connected accounts
          required: false
          description: The toolkit slugs of the connected accounts
          name: toolkit_slugs
          in: query
        - schema:
            type: array
            nullable: true
            items:
              type: string
              enum:
                - INITIALIZING
                - INITIATED
                - ACTIVE
                - FAILED
                - EXPIRED
                - INACTIVE
            description: The status of the connected account
          required: false
          description: The status of the connected account
          name: statuses
          in: query
        - schema:
            type: string
            nullable: true
            description: The cursor to paginate through the connected accounts
          required: false
          description: The cursor to paginate through the connected accounts
          name: cursor
          in: query
        - schema:
            type: number
            nullable: true
            description: The limit of the connected accounts to return
          required: false
          description: The limit of the connected accounts to return
          name: limit
          in: query
        - schema:
            type: array
            nullable: true
            items:
              type: string
            description: The user ids of the connected accounts
          required: false
          description: The user ids of the connected accounts
          name: user_ids
          in: query
        - schema:
            type: array
            nullable: true
            items:
              type: string
              format: authConfigId
            description: The auth config ids of the connected accounts
          required: false
          description: The auth config ids of the connected accounts
          name: auth_config_ids
          in: query
        - schema:
            type: array
            nullable: true
            items:
              type: string
              format: connectedAccountId
            description: The connected account ids to filter by
          required: false
          description: The connected account ids to filter by
          name: connected_account_ids
          in: query
        - schema:
            type: string
            enum:
              - created_at
              - updated_at
            default: created_at
            description: The order by of the connected accounts
          required: false
          description: The order by of the connected accounts
          name: order_by
          in: query
        - schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
            description: The order direction of the connected accounts
          required: false
          description: The order direction of the connected accounts
          name: order_direction
          in: query
        - schema:
            type: array
            nullable: true
            items:
              type: string
            description: The labels of the connected accounts
          required: false
          description: The labels of the connected accounts
          name: labels
          in: query
      responses:
        '200':
          description: Successfully retrieved connected accounts
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        toolkit:
                          type: object
                          properties:
                            slug:
                              type: string
                              description: The slug of the toolkit
                          required:
                            - slug
                        auth_config:
                          type: object
                          properties:
                            id:
                              type: string
                              format: authConfigId
                              description: The id of the auth config
                            is_composio_managed:
                              type: boolean
                              description: Whether the auth config is managed by Composio
                            is_disabled:
                              type: boolean
                              description: Whether the auth config is disabled
                            deprecated:
                              type: object
                              properties:
                                uuid:
                                  type: string
                                  format: uuid
                                  description: The uuid of the auth config
                              required:
                                - uuid
                          required:
                            - id
                            - auth_scheme
                            - is_composio_managed
                            - is_disabled
                        id:
                          type: string
                          format: connectedAccountId
                          description: The id of the connection
                        status:
                          type: string
                          enum:
                            - INITIALIZING
                            - INITIATED
                            - ACTIVE
                            - FAILED
                            - EXPIRED
                            - INACTIVE
                          description: The status of the connection
                        created_at:
                          type: string
                          description: The created at of the connection
                        updated_at:
                          type: string
                          description: The updated at of the connection
                        state:
                          oneOf:
                            - type: object
                              properties:
                                authScheme:
                                  type: string
                                  enum:
                                    - OAUTH1
                                val:
                                  oneOf:
                                    - type: object
                                      properties:
                                        subdomain:
                                          type: string
                                        your-domain:
                                          type: string
                                        region:
                                          type: string
                                        shop:
                                          type: string
                                        account_url:
                                          type: string
                                        COMPANYDOMAIN:
                                          type: string
                                        extension:
                                          type: string
                                        form_api_base_url:
                                          type: string
                                        instanceEndpoint:
                                          type: string
                                        api_url:
                                          type: string
                                        borneo_dashboard_url:
                                          type: string
                                        proxy_username:
                                          type: string
                                        proxy_password:
                                          type: string
                                        domain:
                                          type: string
                                        version:
                                          type: string
                                        dc:
                                          type: string
                                        site_name:
                                          type: string
                                        instanceName:
                                          type: string
                                        account_id:
                                          type: string
                                        your_server:
                                          type: string
                                        server_location:
                                          type: string
                                        base_url:
                                          type: string
                                        status:
                                          type: string
                                          enum:
                                            - INITIALIZING
                                      required:
                                        - status
                                      additionalProperties:
                                        nullable: true
                                    - type: object
                                      properties:
                                        subdomain:
                                          type: string
                                        your-domain:
                                          type: string
                                        region:
                                          type: string
                                        shop:
                                          type: string
                                        account_url:
                                          type: string
                                        COMPANYDOMAIN:
                                          type: string
                                        extension:
                                          type: string
                                        form_api_base_url:
                                          type: string
                                        instanceEndpoint:
                                          type: string
                                        api_url:
                                          type: string
                                        borneo_dashboard_url:
                                          type: string
                                        proxy_username:
                                          type: string
                                        proxy_password:
                                          type: string
                                        domain:
                                          type: string
                                        version:
                                          type: string
                                        dc:
                                          type: string
                                        site_name:
                                          type: string
                                        instanceName:
                                          type: string
                                        account_id:
                                          type: string
                                        your_server:
                                          type: string
                                        server_location:
                                          type: string
                                        base_url:
                                          type: string
                                        status:
                                          type: string
                                          enum:
                                            - INITIATED
                                        oauth_token:
                                          type: string
                                        authUri:
                                          type: string
                                        oauth_token_secret:
                                          type: string
                                        redirectUrl:
                                          type: string
                                        callbackUrl:
                                          type: string
                                      required:
                                        - status
                                        - oauth_token
                                        - authUri
                                        - oauth_token_secret
                                        - redirectUrl
                                      additionalProperties:
                                        nullable: true
                                    - type: object
                                      properties:
                                        subdomain:
                                          type: string
                                        your-domain:
                                          type: string
                                        region:
                                          type: string
                                        shop:
                                          type: string
                                        account_url:
                                          type: string
                                        COMPANYDOMAIN:
                                          type: string
                                        extension:
                                          type: string
                                        form_api_base_url:
                                          type: string
                                        instanceEndpoint:
                                          type: string
                                        api_url:
                                          type: string
                                        borneo_dashboard_url:
                                          type: string
                                        proxy_username:
                                          type: string
                                        proxy_password:
                                          type: string
                                        domain:
                                          type: string
                                        version:
                                          type: string
                                        dc:
                                          type: string
                                        site_name:
                                          type: string
                                        instanceName:
                                          type: string
                                        account_id:
                                          type: string
                                        your_server:
                                          type: string
                                        server_location:
                                          type: string
                                        base_url:
                                          type: string
                                        status:
                                          type: string
                                          enum:
                                            - ACTIVE
                                        oauth_token:
                                          type: string
                                        oauth_token_secret:
                                          type: string
                                        oauth_verifier:
                                          type: string
                                        consumer_key:
                                          type: string
                                        redirectUrl:
                                          type: string
                                        callback_url:
                                          type: string
                                      required:
                                        - status
                                        - oauth_token
                                        - oauth_token_secret
                                      additionalProperties:
                                        nullable: true
                                    - type: object
                                      properties:
                                        subdomain:
                                          type: string
                                        your-domain:
                                          type: string
                                        region:
                                          type: string
                                        shop:
                                          type: string
                                        account_url:
                                          type: string
                                        COMPANYDOMAIN:
                                          type: string
                                        extension:
                                          type: string
                                        form_api_base_url:
                                          type: string
                                        instanceEndpoint:
                                          type: string
                                        api_url:
                                          type: string
                                        borneo_dashboard_url:
                                          type: string
                                        proxy_username:
                                          type: string
                                        proxy_password:
                                          type: string
                                        domain:
                                          type: string
                                        version:
                                          type: string
                                        dc:
                                          type: string
                                        site_name:
                                          type: string
                                        instanceName:
                                          type: string
                                        account_id:
                                          type: string
                                        your_server:
                                          type: string
                                        server_location:
                                          type: string
                                        base_url:
                                          type: string
                                        status:
                                          type: string
                                          enum:
                                            - FAILED
                                        error:
                                          type: string
                                        error_description:
                                          type: string
                                      required:
                                        - status
                                      additionalProperties:
                                        nullable: true
                                    - type: object
                                      properties:
                                        subdomain:
                                          type: string
                                        your-domain:
                                          type: string
                                        region:
                                          type: string
                                        shop:
                                          type: string
                                        account_url:
                                          type: string
                                        COMPANYDOMAIN:
                                          type: string
                                        extension:
                                          type: string
                                        form_api_base_url:
                                          type: string
                                        instanceEndpoint:
                                          type: string
                                        api_url:
                                          type: string
                                        borneo_dashboard_url:
                                          type: string
                                        proxy_username:
                                          type: string
                                        proxy_password:
                                          type: string
                                        domain:
                                          type: string
                                        version:
                                          type: string
                                        dc:
                                          type: string
                                        site_name:
                                          type: string
                                        instanceName:
                                          type: string
                                        account_id:
                                          type: string
                                        your_server:
                                          type: string
                                        server_location:
                                          type: string
                                        base_url:
                                          type: string
                                        status:
                                          type: string
                                          enum:
                                            - EXPIRED
                                        expired_at:
                                          type: string
                                      required:
                                        - status
                                      additionalProperties:
                                        nullable: true
                                    - type: object
                                      properties:
                                        subdomain:
                                          type: string
                                        your-domain:
                                          type: string
                                        region:
                                          type: string
                                        shop:
                                          type: string
                                        account_url:
                                          type: string
                                        COMPANYDOMAIN:
                                          type: string
                                        extension:
                                          type: string
                                        form_api_base_url:
                                          type: string
                                        instanceEndpoint:
                                          type: string
                                        api_url:
                                          type: string
                                        borneo_dashboard_url:
                                          type: string
                                        proxy_username:
                                          type: string
                                        proxy_password:
                                          type: string
                                        domain:
                                          type: string
                                        version:
                                          type: string
                                        dc:
                                          type: string
                                        site_name:
                                          type: string
                                        instanceName:
                                          type: string
                                        account_id:
                                          type: string
                                        your_server:
                                          type: string
                                        server_location:
                                          type: string
                                        base_url:
                                          type: string
                                        status:
                                          type: string
                                          enum:
                                            - INACTIVE
                                        oauth_token:
                                          type: string
                                        oauth_token_secret:
                                          type: string
                                        oauth_verifier:
                                          type: string
                                        consumer_key:
                                          type: string
                                        redirectUrl:
                                          type: string
                                        callback_url:
                                          type: string
                                      required:
                                        - status
                                        - oauth_token
                                        - oauth_token_secret
                                      additionalProperties:
                                        nullable: true
                              required:
                                - authScheme
                                - val
                            - type: object
                              properties:
                                authScheme:
                                  type: string
                                  enum:
                                    - OAUTH2
                                val:
                                  oneOf:
                                    - type: object
                                      properties:
                                        subdomain:
                                          type: string
                                        your-domain:
                                          type: string
                                        region:
                                          type: string
                                        shop:
                                          type: string
                                        account_url:
                                          type: string
                                        COMPANYDOMAIN:
                                          type: string
                                        extension:
                                          type: string
                                        form_api_base_url:
                                          type: string
                                        instanceEndpoint:
                                          type: string
                                        api_url:
                                          type: string
                                        borneo_dashboard_url:
                                          type: string
                                        proxy_username:
                                          type: string
                                        proxy_password:
                                          type: string
                                        domain:
                                          type: string
                                        version:
                                          type: string
                                        dc:
                                          type: string
                                        site_name:
                                          type: string
                                        instanceName:
                                          type: string
                                        account_id:
                                          type: string
                                        your_server:
                                          type: string
                                        server_location:
                                          type: string
                                        base_url:
                                          type: string
                                        status:
                                          type: string
                                          enum:
                                            - INITIALIZING
                                        state_prefix:
                                          type: string
                                          maxLength: 20
                                          description: The oauth2 state prefix for the connection
                                        long_redirect_url:
                                          type: boolean
                                          description: Whether to return the redirect url without shortening
                                      required:
                                        - status
                                      additionalProperties:
                                        nullable: true
                                    - type: object
                                      properties:
                                        subdomain:
                                          type: string
                                        your-domain:
                                          type: string
                                        region:
                                          type: string
                                        shop:
                                          type: string
                                        account_url:
                                          type: string
                                        COMPANYDOMAIN:
                                          type: string
                                        extension:
                                          type: string
                                        form_api_base_url:
                                          type: string
                                        instanceEndpoint:
                                          type: string
                                        api_url:
                                          type: string
                                        borneo_dashboard_url:
                                          type: string
                                        proxy_username:
                                          type: string
                                        proxy_password:
                                          type: string
                                        domain:
                                          type: string
                                        version:
                                          type: string
                                        dc:
                                          type: string
                                        site_name:
                                          type: string
                                        instanceName:
                                          type: string
                                        account_id:
                                          type: string
                                        your_server:
                                          type: string
                                        server_location:
                                          type: string
                                        base_url:
                                          type: string
                                        status:
                                          type: string
                                          enum:
                                            - INITIATED
                                        state_prefix:
                                          type: string
                                          maxLength: 20
                                          description: The oauth2 state prefix for the connection
                                        long_redirect_url:
                                          type: boolean
                                          description: Whether to return the redirect url without shortening
                                        code_verifier:
                                          type: string
                                        redirectUrl:
                                          type: string
                                        callback_url:
                                          type: string
                                        finalRedirectUri:
                                          type: string
                                        webhook_signature:
                                          type: string
                                      required:
                                        - status
                                        - redirectUrl
                                      additionalProperties:
                                        nullable: true
                                    - type: object
                                      properties:
                                        subdomain:
                                          type: string
                                        your-domain:
                                          type: string
                                        region:
                                          type: string
                                        shop:
                                          type: string
                                        account_url:
                                          type: string
                                        COMPANYDOMAIN:
                                          type: string
                                        extension:
                                          type: string
                                        form_api_base_url:
                                          type: string
                                        instanceEndpoint:
                                          type: string
                                        api_url:
                                          type: string
                                        borneo_dashboard_url:
                                          type: string
                                        proxy_username:
                                          type: string
                                        proxy_password:
                                          type: string
                                        domain:
                                          type: string
                                        version:
                                          type: string
                                        dc:
                                          type: string
                                        site_name:
                                          type: string
                                        instanceName:
                                          type: string
                                        account_id:
                                          type: string
                                        your_server:
                                          type: string
                                        server_location:
                                          type: string
                                        base_url:
                                          type: string
                                        status:
                                          type: string
                                          enum:
                                            - ACTIVE
                                        state_prefix:
                                          type: string
                                          maxLength: 20
                                          description: The oauth2 state prefix for the connection
                                        long_redirect_url:
                                          type: boolean
                                          description: Whether to return the redirect url without shortening
                                        access_token:
                                          type: string
                                        id_token:
                                          type: string
                                        token_type:
                                          type: string
                                        refresh_token:
                                          type: string
                                          nullable: true
                                        expires_in:
                                          anyOf:
                                            - type: number
                                            - type: string
                                            - nullable: true
                                        scope:
                                          anyOf:
                                            - type: string
                                            - type: array
                                              items:
                                                type: string
                                            - nullable: true
                                        webhook_signature:
                                          type: string
                                        authed_user:
                                          type: object
[...]
