{
  "openapi": "3.0.0",
  "info": {
    "version": "3.0.0",
    "title": "Composio Platform API",
    "description": "",
    "contact": {
      "name": "Composio Support",
      "url": "https://composio.dev/support",
      "email": "support@composio.dev"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://composio.dev/terms"
    }
  },
  "servers": [
    {
      "url": "https://backend.composio.dev",
      "description": "PRODUCTION API"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Authentication related endpoints"
    },
    {
      "name": "Auth Configs",
      "description": "Authentication configuration management"
    },
    {
      "name": "Connected Accounts",
      "description": "Connected account management"
    },
    {
      "name": "Logs",
      "description": "Logging and monitoring"
    },
    {
      "name": "OpenAPI",
      "description": "OpenAPI specification management"
    },
    {
      "name": "Organization",
      "description": "Organization management"
    },
    {
      "name": "API Keys",
      "description": "API key management"
    },
    {
      "name": "Webhooks",
      "description": "Webhook configuration"
    },
    {
      "name": "Team",
      "description": "Team member management"
    },
    {
      "name": "Toolkits",
      "description": "Toolkit and tool management"
    },
    {
      "name": "Tools",
      "description": "Tool execution endpoints"
    },
    {
      "name": "Recipes",
      "description": "Recipe management and execution. Recipes are reusable code modules that combine multiple tools."
    },
    {
      "name": "Triggers",
      "description": "Trigger management and execution"
    },
    {
      "name": "Payments",
      "description": "Payment and subscription management"
    },
    {
      "name": "Files",
      "description": "File management"
    },
    {
      "name": "MCP",
      "description": "MCP server management"
    },
    {
      "name": "Migration",
      "description": "Endpoints to help with migration from v1 to v3"
    },
    {
      "name": "MCP Partner",
      "description": "MCP partner management"
    },
    {
      "name": "Recipe",
      "description": "Recipe endpoints"
    },
    {
      "name": "Tool Router",
      "description": "(Labs) Tool router endpoints"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key authentication"
      },
      "CookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "authToken",
        "description": "Cookie-based session authentication"
      },
      "OrgApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-org-api-key",
        "description": "Organization API key authentication"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "code": {
                "type": "number"
              },
              "status": {
                "type": "number"
              },
              "request_id": {
                "type": "string"
              },
              "suggested_fix": {
                "type": "string"
              },
              "errors": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "required": [
              "message",
              "code",
              "status"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "DeprecatedToolkitInfo": {
        "type": "object",
        "properties": {
          "toolkitId": {
            "type": "string"
          }
        },
        "required": [
          "toolkitId"
        ],
        "description": "Deprecated toolkit ID",
        "deprecated": true,
        "example": {
          "toolkitId": "550e8400-e29b-41d4-a716-446655440000"
        }
      },
      "Tool": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string",
            "description": "Unique identifier for the tool",
            "example": "github-actions"
          },
          "name": {
            "type": "string",
            "description": "Human-readable display name of the tool",
            "example": "GitHub Actions"
          },
          "description": {
            "type": "string",
            "description": "Detailed explanation of the tool's functionality and purpose",
            "example": "Automate GitHub workflows including CI/CD, issue management, and release processes"
          },
          "toolkit": {
            "type": "object",
            "properties": {
              "slug": {
                "type": "string",
                "description": "Unique identifier of the parent toolkit",
                "example": "github"
              },
              "name": {
                "type": "string",
                "description": "Human-readable name of the parent toolkit",
                "example": "GitHub"
              },
              "logo": {
                "type": "string",
                "description": "URL to the toolkit logo image",
                "example": "https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png"
              }
            },
            "required": [
              "slug",
              "name",
              "logo"
            ]
          },
          "input_parameters": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Schema definition of required input parameters for the tool",
            "example": {
              "repo_name": {
                "type": "string",
                "description": "GitHub repository name in owner/repo format",
                "required": true,
                "example": "octocat/Hello-World"
              },
              "workflow_id": {
                "type": "string",
                "description": "ID or filename of the workflow to trigger",
                "required": true,
                "example": "main.yml"
              }
            }
          },
          "no_auth": {
            "type": "boolean",
            "description": "Indicates if the tool can be used without authentication",
            "example": false
          },
          "available_versions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of all available versions for this tool",
            "example": [
              "20250905_00",
              "20250906_00"
            ]
          },
          "version": {
            "type": "string",
            "description": "Current version of the tool",
            "example": "20250905_00"
          },
          "output_parameters": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Schema definition of return values from the tool",
            "example": {
              "run_id": {
                "type": "number",
                "description": "ID of the workflow run that was triggered",
                "example": 12345678
              },
              "status": {
                "type": "string",
                "description": "Status of the workflow run",
                "example": "completed",
                "enum": [
                  "queued",
                  "in_progress",
                  "completed",
                  "failed"
                ]
              }
            }
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of scopes associated with the tool",
            "example": [
              "https://www.googleapis.com/auth/gmail.modify"
            ]
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of tags associated with the tool for categorization and filtering",
            "example": [
              "ci-cd",
              "github",
              "automation",
              "devops"
            ]
          },
          "is_deprecated": {
            "type": "boolean",
            "description": "Indicates if this tool is deprecated and may be removed in the future",
            "example": false
          },
          "deprecated": {
            "type": "object",
            "properties": {
              "displayName": {
                "type": "string",
                "description": "The display name of the tool",
                "example": "GitHub Actions"
              },
              "version": {
                "type": "string",
                "description": "Current version identifier of the tool",
                "example": "20250905_00"
              },
              "available_versions": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "List of all available versions for this tool",
                "example": [
                  "20250905_00",
                  "20250906_00"
                ]
              },
              "is_deprecated": {
                "type": "boolean",
                "description": "Indicates if this tool is deprecated and may be removed in the future",
                "example": false
              },
              "toolkit": {
                "type": "object",
                "properties": {
                  "logo": {
                    "type": "string",
                    "description": "URL to the toolkit logo image",
                    "example": "https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png"
                  }
                },
                "required": [
                  "logo"
                ]
              }
            },
            "required": [
              "displayName",
              "version",
              "available_versions",
              "is_deprecated",
              "toolkit"
            ]
          }
        },
        "required": [
          "slug",
          "name",
          "description",
          "toolkit",
          "input_parameters",
          "no_auth",
          "available_versions",
          "version",
          "output_parameters",
          "scopes",
          "tags",
          "is_deprecated",
          "deprecated"
        ]
      },
      "ToolsPaginated": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tool"
            }
          },
          "next_cursor": {
            "type": "string",
            "nullable": true
          },
          "total_pages": {
            "type": "number"
          },
          "current_page": {
            "type": "number"
          },
          "total_items": {
            "type": "number"
          }
        },
        "required": [
          "items",
          "total_pages",
          "current_page",
          "total_items"
        ]
      },
      "ToolRouterToolkitsListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Display name of the toolkit"
                },
                "slug": {
                  "type": "string",
                  "description": "Unique slug identifier"
                },
                "enabled": {
                  "type": "boolean",
                  "description": "Whether the toolkit is enabled"
                },
                "is_no_auth": {
                  "type": "boolean",
                  "description": "Whether the toolkit is no-auth"
                },
                "composio_managed_auth_schemes": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Available Composio-managed auth schemes"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "logo": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL to the toolkit logo"
                    },
                    "description": {
                      "type": "string",
                      "description": "Description of the toolkit"
                    }
                  },
                  "required": [
                    "logo",
                    "description"
                  ],
                  "description": "Toolkit metadata"
                },
                "connected_account": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "connectedAccountId",
                      "description": "Connected account identifier"
                    },
                    "user_id": {
                      "type": "string",
                      "description": "User identifier"
                    },
                    "status": {
                      "type": "string",
                      "description": "Connection status"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Creation timestamp"
                    },
                    "auth_config": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Auth config identifier"
                        },
                        "auth_scheme": {
                          "type": "string",
                          "description": "Authentication scheme type"
                        },
                        "is_composio_managed": {
                          "type": "boolean",
                          "description": "Whether this is a Composio-managed auth config"
                        }
                      },
                      "required": [
                        "id",
                        "auth_scheme",
                        "is_composio_managed"
                      ],
                      "description": "Auth config details"
                    }
                  },
                  "required": [
                    "id",
                    "user_id",
                    "status",
                    "created_at",
                    "auth_config"
                  ],
                  "description": "Connected account if available"
                }
              },
              "required": [
                "name",
                "slug",
                "enabled",
                "is_no_auth",
                "composio_managed_auth_schemes",
                "meta",
                "connected_account"
              ]
            }
          },
          "next_cursor": {
            "type": "string",
            "nullable": true
          },
          "total_pages": {
            "type": "number"
          },
          "current_page": {
            "type": "number"
          },
          "total_items": {
            "type": "number"
          }
        },
        "required": [
          "items",
          "total_pages",
          "current_page",
          "total_items"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/api/v3/auth/session/info": {
      "get": {
        "summary": "Get current user session information",
        "description": "Retrieves detailed information about the current authenticated user session, including project details, organization membership, and API key information if applicable. This endpoint is useful for verifying authentication status and retrieving contextual information about the authenticated user and their access privileges.",
        "tags": [
          "Authentication"
        ],
        "operationId": "getAuthSessionInfo",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "CookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Session is valid and active. Returns detailed information about the authenticated user, their project, and organization.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "project": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "auto_id": {
                          "type": "number",
                          "description": "Internal auto-incrementing ID for the project",
                          "example": 12345
                        },
                        "id": {
                          "type": "string",
                          "description": "UUID identifier for the project",
                          "example": "550e8400-e29b-41d4-a716-446655440000"
                        },
                        "org_id": {
                          "type": "string",
                          "description": "Organization UUID that this project belongs to",
                          "example": "550e8400-e29b-41d4-a716-446655440001"
                        },
                        "name": {
                          "type": "string",
                          "description": "User-defined name for the project",
                          "example": "Production API"
                        },
                        "email": {
                          "type": "string",
                          "description": "Email address used for project notifications",
                          "example": "project-123@composio.dev"
                        },
                        "nano_id": {
                          "type": "string",
                          "format": "projectId",
                          "description": "Short, URL-friendly unique identifier for the project",
                          "example": "proj_abc123xyz456"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "Date and time when the project was created",
                          "example": "2023-05-16T14:30:00.000Z"
                        },
                        "updated_at": {
                          "type": "string",
                          "description": "Date and time when the project was last modified",
                          "example": "2023-05-18T09:15:30.000Z"
                        },
                        "webhook_url": {
                          "type": "string",
                          "nullable": true,
                          "description": "Endpoint URL for trigger webhook notifications",
                          "example": "https://example.com/webhook"
                        },
                        "event_webhook_url": {
                          "type": "string",
                          "nullable": true,
                          "description": "Endpoint URL for event webhook notifications",
                          "example": "https://example.com/events"
                        },
                        "webhook_secret": {
                          "type": "string",
                          "nullable": true,
                          "description": "Secret used to verify webhook signatures",
                          "example": "whsec_a1b2c3d4e5f6g7h8i9j0"
                        },
                        "triggers_enabled": {
                          "type": "boolean",
                          "description": "Flag indicating if triggers are enabled for this project",
                          "example": true
                        },
                        "last_subscribed_at": {
                          "type": "string",
                          "nullable": true,
                          "description": "Date and time when the project last subscribed to updates",
                          "example": "2023-05-17T10:00:00.000Z"
                        },
                        "deleted": {
                          "type": "boolean",
                          "description": "Flag indicating if the project has been deleted",
                          "example": false
                        },
                        "is_new_webhook": {
                          "type": "boolean",
                          "description": "Deprecated: Please refer to webhook_version instead. True indicates if the webhook configuration is using the previous new format (V2). False indicates the oldest format (V1)",
                          "example": true,
                          "deprecated": true
                        },
                        "webhook_version": {
                          "type": "string",
                          "enum": [
                            "V1",
                            "V2",
                            "V3"
                          ],
                          "description": "Version of the webhook configuration",
                          "example": "V2"
                        },
                        "org": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "orgId",
                              "description": "Short, URL-friendly unique identifier for the organization",
                              "example": "org_abc123xyz456"
                            },
                            "name": {
                              "type": "string",
                              "description": "User-defined name for the organization",
                              "example": "Acme Corp"
                            },
                            "plan": {
                              "type": "string",
                              "description": "Current subscription plan level",
                              "example": "BUSINESS"
                            }
                          },
                          "required": [
                            "id",
                            "name",
                            "plan"
                          ],
                          "description": "Organization details"
                        }
                      },
                      "required": [
                        "auto_id",
                        "id",
                        "org_id",
                        "name",
                        "email",
                        "nano_id",
                        "created_at",
                        "updated_at",
                        "webhook_url",
                        "event_webhook_url",
                        "webhook_secret",
                        "triggers_enabled",
                        "last_subscribed_at",
                        "deleted",
                        "is_new_webhook",
                        "webhook_version",
                        "org"
                      ],
                      "description": "Details of the current active project (null if accessing with org-level credentials)"
                    },
                    "api_key": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "auto_id": {
                          "type": "number",
                          "description": "Internal auto-incrementing ID for the API key",
                          "example": 7890
                        },
                        "id": {
                          "type": "string",
                          "description": "UUID identifier for the API key",
                          "example": "550e8400-e29b-41d4-a716-446655440003"
                        },
                        "name": {
                          "type": "string",
                          "description": "User-defined name for the API key",
                          "example": "Development Key"
                        },
                        "project_id": {
                          "type": "string",
                          "format": "projectId",
                          "description": "Short, URL-friendly unique identifier for the associated project",
                          "example": "proj_abc123xyz456"
                        },
                        "org_member_id": {
                          "type": "string",
                          "description": "UUID identifier for the organization member who owns this API key",
                          "example": "550e8400-e29b-41d4-a716-446655440002"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "Date and time when the API key was created",
                          "example": "2023-05-01T10:00:00.000Z"
                        },
                        "updated_at": {
                          "type": "string",
                          "description": "Date and time when the API key was last modified",
                          "example": "2023-05-01T10:00:00.000Z"
                        },
                        "deleted_at": {
                          "type": "string",
                          "nullable": true,
                          "description": "Date and time when the API key was deleted (if applicable)"
                        },
                        "key": {
                          "type": "string",
                          "description": "The actual API key value (usually only shown once during creation)",
                          "example": "sk_live_abc123xyz456"
                        },
                        "deleted": {
                          "type": "boolean",
                          "description": "Flag indicating if the API key has been deleted",
                          "example": false
                        }
                      },
                      "required": [
                        "auto_id",
                        "id",
                        "name",
                        "project_id",
                        "org_member_id",
                        "created_at",
                        "updated_at",
                        "deleted_at",
                        "key",
                        "deleted"
                      ],
                      "description": "Details of the API key used for authentication (null if using session auth)"
                    },
                    "org_member": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "UUID identifier for the organization member",
                          "example": "550e8400-e29b-41d4-a716-446655440002"
                        },
                        "email": {
                          "type": "string",
                          "description": "Email address of the authenticated user",
                          "example": "user@example.com"
                        },
                        "name": {
                          "type": "string",
                          "description": "Display name of the authenticated user",
                          "example": "John Doe"
                        },
                        "role": {
                          "type": "string",
                          "description": "Access role of the authenticated user within the organization",
                          "example": "admin"
                        }
                      },
                      "required": [
                        "id",
                        "email",
                        "name",
                        "role"
                      ],
                      "description": "Information about the authenticated user",
                      "example": {
                        "id": "550e8400-e29b-41d4-a716-446655440002",
                        "email": "user@example.com",
                        "name": "John Doe",
                        "role": "admin"
                      }
                    }
                  },
                  "required": [
                    "project",
                    "api_key",
                    "org_member"
                  ],
                  "description": "Response containing user session information"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The request format may be invalid or missing required parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Authentication is required or the provided credentials are invalid or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The authenticated user does not have permission to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found. The requested project, organization, or member resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. An unexpected error occurred while processing the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/auth_configs": {
      "post": {
        "summary": "Create new authentication configuration",
        "tags": [
          "Auth Configs"
        ],
        "operationId": "postAuthConfigs",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "CookieAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "toolkit": {
                    "type": "object",
                    "properties": {
                      "slug": {
                        "type": "string",
                        "description": "Toolkit slug to create auth config for"
                      }
                    },
                    "required": [
                      "slug"
                    ]
                  },
                  "auth_config": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "use_composio_managed_auth"
                            ]
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the integration"
                          },
                          "credentials": {
                            "type": "object",
                            "properties": {
                              "scopes": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                ]
                              },
                              "user_scopes": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                ]
                              }
                            },
                            "default": {}
                          },
                          "tool_access_config": {
                            "type": "object",
                            "properties": {
                              "tools_for_connected_account_creation": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "default": [],
                                "description": "Tools used to generate the minimum required scopes for the auth config (only valid for OAuth). If passed, this will update the scopes."
                              }
                            }
                          },
                          "restrict_to_following_tools": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "default": [],
                            "description": "Use tool_access_config instead. This field will be deprecated in the future.",
                            "deprecated": true
                          },
                          "shared_credentials": {
                            "type": "object",
                            "additionalProperties": {
                              "nullable": true
                            },
                            "description": "[EXPERIMENTAL] Shared credentials that will be inherited by all connected accounts using this auth config"
                          }
                        },
                        "required": [
                          "type"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "use_custom_auth"
                            ]
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the integration"
                          },
                          "authScheme": {
                            "type": "string",
                            "enum": [
                              "OAUTH2",
                              "OAUTH1",
                              "API_KEY",
                              "BASIC",
                              "BILLCOM_AUTH",
                              "BEARER_TOKEN",
                              "GOOGLE_SERVICE_ACCOUNT",
                              "NO_AUTH",
                              "BASIC_WITH_JWT",
                              "CALCOM_AUTH",
                              "SERVICE_ACCOUNT",
                              "SAML",
                              "DCR_OAUTH"
                            ]
                          },
                          "credentials": {
                            "type": "object",
                            "properties": {
                              "scopes": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                ]
                              },
                              "user_scopes": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                ]
                              }
                            },
                            "default": {}
                          },
                          "proxy_config": {
                            "type": "object",
                            "properties": {
                              "proxy_url": {
                                "type": "string",
                                "format": "uri",
                                "description": "The url of the auth proxy"
                              },
                              "proxy_auth_key": {
                                "type": "string",
                                "description": "The auth key for the auth proxy"
                              }
                            },
                            "required": [
                              "proxy_url"
                            ]
                          },
                          "restrict_to_following_tools": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "default": [],
                            "description": "Use tool_access_config instead. This field will be deprecated in the future.",
                            "deprecated": true
                          },
                          "tool_access_config": {
                            "type": "object",
                            "properties": {
                              "tools_for_connected_account_creation": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "default": [],
                                "description": "Tools used to generate the minimum required scopes for the auth config (only valid for OAuth). If passed, this will update the scopes."
                              }
                            }
                          },
                          "shared_credentials": {
                            "type": "object",
                            "additionalProperties": {
                              "nullable": true
                            },
                            "description": "[EXPERIMENTAL] Shared credentials that will be inherited by all connected accounts using this auth config"
                          }
                        },
                        "required": [
                          "type",
                          "authScheme"
                        ]
                      }
                    ],
                    "default": {
                      "type": "use_composio_managed_auth",
                      "credentials": {},
                      "restrict_to_following_tools": []
                    }
                  }
                },
                "required": [
                  "toolkit"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created auth config",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "toolkit": {
                      "type": "object",
                      "properties": {
                        "slug": {
                          "type": "string",
                          "description": "The unique key of the toolkit"
                        }
                      },
                      "required": [
                        "slug"
                      ]
                    },
                    "auth_config": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "authConfigId",
                          "description": "The auth config id of the toolkit (must be a valid auth config id)"
                        },
                        "auth_scheme": {
                          "type": "string",
                          "description": "The authentication mode of the toolkit"
                        },
                        "is_composio_managed": {
                          "type": "boolean",
                          "description": "Whether the auth config is managed by Composio"
                        },
                        "restrict_to_following_tools": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "default": [],
                          "description": "The tools that the user can use with the auth config"
                        }
                      },
                      "required": [
                        "id",
                        "auth_scheme",
                        "is_composio_managed"
                      ]
                    }
                  },
                  "required": [
                    "toolkit",
                    "auth_config"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List authentication configurations with optional filters",
        "tags": [
          "Auth Configs"
        ],
        "operationId": "getAuthConfigs",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "CookieAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "boolean"
                }
              ],
              "description": "Whether to filter by composio managed auth configs"
            },
            "required": false,
            "description": "Whether to filter by composio managed auth configs",
            "name": "is_composio_managed",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Comma-separated list of toolkit slugs to filter auth configs by",
            "in": "query",
            "name": "toolkit_slug"
          },
          {
            "schema": {
              "type": "string",
              "description": "DEPRECATED: This parameter will be removed in a future version. Please use toolkit_slug instead.",
              "deprecated": true
            },
            "required": false,
            "description": "The app id to filter by",
            "name": "deprecated_app_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "DEPRECATED: This parameter will be removed in a future version.",
              "deprecated": true
            },
            "required": false,
            "name": "deprecated_status",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean",
              "nullable": true,
              "default": false,
              "description": "Show disabled auth configs"
            },
            "required": false,
            "description": "Show disabled auth configs",
            "name": "show_disabled",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Search auth configs by name"
            },
            "required": false,
            "description": "Search auth configs by name",
            "name": "search",
            "in": "query"
          },
          {
            "schema": {
              "type": "number",
              "nullable": true
            },
            "required": false,
            "description": "Number of items per page, max allowed is 1000",
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Cursor for pagination. The cursor is a base64 encoded string of the page and limit. The page is the page number and the limit is the number of items per page. The cursor is used to paginate through the items. The cursor is not required for the first page.",
            "name": "cursor",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched auth configs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "authConfigId",
                            "description": "The unique ID of the authentication configuration"
                          },
                          "uuid": {
                            "type": "string",
                            "description": "The UUID of the authentication configuration (for backward compatibility)"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "default",
                              "custom"
                            ],
                            "description": "The type of the authentication configuration (custom or default)"
                          },
                          "toolkit": {
                            "type": "object",
                            "properties": {
                              "slug": {
                                "type": "string",
                                "description": "The unique identifier of the integration app"
                              },
                              "logo": {
                                "type": "string",
                                "description": "The URL to the integration app's logo image"
                              }
                            },
                            "required": [
                              "slug",
                              "logo"
                            ],
                            "description": "Information about the associated integration"
                          },
                          "name": {
                            "type": "string",
                            "description": "The display name of the authentication configuration"
                          },
                          "auth_scheme": {
                            "type": "string",
                            "enum": [
                              "OAUTH2",
                              "OAUTH1",
                              "API_KEY",
                              "BASIC",
                              "BILLCOM_AUTH",
                              "BEARER_TOKEN",
                              "GOOGLE_SERVICE_ACCOUNT",
                              "NO_AUTH",
                              "BASIC_WITH_JWT",
                              "CALCOM_AUTH",
                              "SERVICE_ACCOUNT",
                              "SAML",
                              "DCR_OAUTH"
                            ],
                            "description": "The authentication scheme used (e.g., OAuth2, API Key, etc.)"
                          },
                          "is_composio_managed": {
                            "type": "boolean",
                            "description": "Whether this authentication configuration is managed by Composio or the user"
                          },
                          "credentials": {
                            "type": "object",
                            "additionalProperties": {
                              "nullable": true
                            },
                            "description": "The authentication credentials (tokens, keys, etc.) - may be partially hidden for security"
                          },
                          "proxy_config": {
                            "type": "object",
                            "properties": {
                              "proxy_url": {
                                "type": "string",
                                "format": "uri",
                                "description": "The url of the auth proxy"
                              },
                              "proxy_auth_key": {
                                "type": "string",
                                "description": "The auth key for the auth proxy"
                              }
                            },
                            "required": [
                              "proxy_url"
                            ]
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "ENABLED",
                              "DISABLED"
                            ],
                            "description": "Current status of the authentication configuration"
                          },
                          "created_by": {
                            "type": "string",
                            "description": "The identifier of the user who created the auth config"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "ISO 8601 date-time when the auth config was created"
                          },
                          "last_updated_at": {
                            "type": "string",
                            "description": "ISO 8601 date-time when the auth config was last updated"
                          },
                          "no_of_connections": {
                            "type": "number",
                            "description": "The number of active connections using this auth config"
                          },
                          "expected_input_fields": {
                            "type": "array",
                            "items": {
                              "nullable": true
                            },
                            "description": "Fields expected during connection initialization"
                          },
                          "restrict_to_following_tools": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Use tool_access_config instead. This field will be deprecated in the future.",
                            "deprecated": true
                          },
                          "tool_access_config": {
                            "type": "object",
                            "properties": {
                              "tools_for_connected_account_creation": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "default": [],
                                "description": "Tools used to generate the minimum required scopes for the auth config (only valid for OAuth). If passed, this will update the scopes."
                              },
                              "tools_available_for_execution": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "default": [],
                                "description": "The actions that the user can perform on the auth config. If passed, this will update the actions that the user can perform on the auth config."
                              }
                            }
                          },
                          "shared_credentials": {
                            "type": "object",
                            "additionalProperties": {
                              "nullable": true
                            },
                            "description": "[EXPERIMENTAL] Shared credentials that will be inherited by all connected accounts using this auth config"
                          },
                          "deprecated_params": {
                            "type": "object",
                            "properties": {
                              "default_connector_id": {
                                "type": "string",
                                "nullable": true,
                                "description": "Deprecated: Default connector ID"
                              },
                              "member_uuid": {
                                "type": "string",
                                "description": "Deprecated: Member UUID"
                              },
                              "toolkit_id": {
                                "type": "string",
                                "description": "Deprecated: Toolkit ID"
                              },
                              "expected_input_fields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": {
                                    "nullable": true
                                  }
                                },
                                "description": "Deprecated: Fields expected during connection initialization"
                              }
                            },
                            "required": [
                              "default_connector_id"
                            ],
                            "description": "DEPRECATED: This parameter will be removed in a future version.",
                            "deprecated": true
                          }
                        },
                        "required": [
                          "id",
                          "uuid",
                          "type",
                          "toolkit",
                          "name",
                          "status",
                          "no_of_connections",
                          "tool_access_config"
                        ]
                      }
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "total_pages": {
                      "type": "number"
                    },
                    "current_page": {
                      "type": "number"
                    },
                    "total_items": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "items",
                    "total_pages",
                    "current_page",
                    "total_items"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/auth_configs/{nanoid}": {
      "get": {
        "summary": "Get single authentication configuration by ID",
        "description": "Retrieves detailed information about a specific authentication configuration using its unique identifier.",
        "tags": [
          "Auth Configs"
        ],
        "operationId": "getAuthConfigsByNanoid",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "CookieAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "authConfigId",
              "description": "The unique identifier of the authentication configuration to retrieve"
            },
            "required": true,
            "description": "The unique identifier of the authentication configuration to retrieve",
            "name": "nanoid",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched auth config",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "authConfigId",
                      "description": "The unique ID of the authentication configuration"
                    },
                    "uuid": {
                      "type": "string",
                      "description": "The UUID of the authentication configuration (for backward compatibility)"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "default",
                        "custom"
                      ],
                      "description": "The type of the authentication configuration (custom or default)"
                    },
                    "toolkit": {
                      "type": "object",
                      "properties": {
                        "slug": {
                          "type": "string",
                          "description": "The unique identifier of the integration app"
                        },
                        "logo": {
                          "type": "string",
                          "description": "The URL to the integration app's logo image"
                        }
                      },
                      "required": [
                        "slug",
                        "logo"
                      ],
                      "description": "Information about the associated integration"
                    },
                    "name": {
                      "type": "string",
                      "description": "The display name of the authentication configuration"
                    },
                    "auth_scheme": {
                      "type": "string",
                      "enum": [
                        "OAUTH2",
                        "OAUTH1",
                        "API_KEY",
                        "BASIC",
                        "BILLCOM_AUTH",
                        "BEARER_TOKEN",
                        "GOOGLE_SERVICE_ACCOUNT",
                        "NO_AUTH",
                        "BASIC_WITH_JWT",
                        "CALCOM_AUTH",
                        "SERVICE_ACCOUNT",
                        "SAML",
                        "DCR_OAUTH"
                      ],
                      "description": "The authentication scheme used (e.g., OAuth2, API Key, etc.)"
                    },
                    "is_composio_managed": {
                      "type": "boolean",
                      "description": "Whether this authentication configuration is managed by Composio or the user"
                    },
                    "credentials": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      },
                      "description": "The authentication credentials (tokens, keys, etc.) - may be partially hidden for security"
                    },
                    "proxy_config": {
                      "type": "object",
                      "properties": {
                        "proxy_url": {
                          "type": "string",
                          "format": "uri",
                          "description": "The url of the auth proxy"
                        },
                        "proxy_auth_key": {
                          "type": "string",
                          "description": "The auth key for the auth proxy"
                        }
                      },
                      "required": [
                        "proxy_url"
                      ]
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "ENABLED",
                        "DISABLED"
                      ],
                      "description": "Current status of the authentication configuration"
                    },
                    "created_by": {
                      "type": "string",
                      "description": "The identifier of the user who created the auth config"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "ISO 8601 date-time when the auth config was created"
                    },
                    "last_updated_at": {
                      "type": "string",
                      "description": "ISO 8601 date-time when the auth config was last updated"
                    },
                    "no_of_connections": {
                      "type": "number",
                      "description": "The number of active connections using this auth config"
                    },
                    "expected_input_fields": {
                      "type": "array",
                      "items": {
                        "nullable": true
                      },
                      "description": "Fields expected during connection initialization"
                    },
                    "restrict_to_following_tools": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Use tool_access_config instead. This field will be deprecated in the future.",
                      "deprecated": true
                    },
                    "tool_access_config": {
                      "type": "object",
                      "properties": {
                        "tools_for_connected_account_creation": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "default": [],
                          "description": "Tools used to generate the minimum required scopes for the auth config (only valid for OAuth). If passed, this will update the scopes."
                        },
                        "tools_available_for_execution": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "default": [],
                          "description": "The actions that the user can perform on the auth config. If passed, this will update the actions that the user can perform on the auth config."
                        }
                      }
                    },
                    "shared_credentials": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      },
                      "description": "[EXPERIMENTAL] Shared credentials that will be inherited by all connected accounts using this auth config"
                    },
                    "deprecated_params": {
                      "type": "object",
                      "properties": {
                        "default_connector_id": {
                          "type": "string",
                          "nullable": true,
                          "description": "Deprecated: Default connector ID"
                        },
                        "member_uuid": {
                          "type": "string",
                          "description": "Deprecated: Member UUID"
                        },
                        "toolkit_id": {
                          "type": "string",
                          "description": "Deprecated: Toolkit ID"
                        },
                        "expected_input_fields": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": {
                              "nullable": true
                            }
                          },
                          "description": "Deprecated: Fields expected during connection initialization"
                        }
                      },
                      "required": [
                        "default_connector_id"
                      ],
                      "description": "DEPRECATED: This parameter will be removed in a future version.",
                      "deprecated": true
                    }
                  },
                  "required": [
                    "id",
                    "uuid",
                    "type",
                    "toolkit",
                    "name",
                    "status",
                    "no_of_connections",
                    "tool_access_config"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid auth config ID format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found - Auth configuration does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - Something went wrong on the server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update an authentication configuration",
        "description": "Modifies an existing authentication configuration with new credentials or other settings. Only specified fields will be updated.",
        "tags": [
          "Auth Configs"
        ],
        "operationId": "patchAuthConfigsByNanoid",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "CookieAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "authConfigId",
              "description": "The unique identifier of the authentication configuration to update"
            },
            "required": true,
            "description": "The unique identifier of the authentication configuration to update",
            "name": "nanoid",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "custom"
                        ]
                      },
                      "credentials": {
                        "type": "object",
                        "properties": {
                          "scopes": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            ]
                          },
                          "user_scopes": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            ]
                          }
                        }
                      },
                      "proxy_config": {
                        "type": "object",
                        "properties": {
                          "proxy_url": {
                            "type": "string",
                            "format": "uri",
                            "description": "The url of the auth proxy"
                          },
                          "proxy_auth_key": {
                            "type": "string",
                            "description": "The auth key for the auth proxy"
                          }
                        },
                        "required": [
                          "proxy_url"
                        ]
                      },
                      "restrict_to_following_tools": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "default": [],
                        "description": "Use tool_access_config instead. This field will be deprecated in the future.",
                        "deprecated": true
                      },
                      "tool_access_config": {
                        "type": "object",
                        "properties": {
                          "tools_for_connected_account_creation": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "default": [],
                            "description": "Tools used to generate the minimum required scopes for the auth config (only valid for OAuth). If passed, this will update the scopes."
                          },
                          "tools_available_for_execution": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "default": [],
                            "description": "The actions that the user can perform on the auth config. If passed, this will update the actions that the user can perform on the auth config."
                          }
                        }
                      },
                      "shared_credentials": {
                        "type": "object",
                        "additionalProperties": {
                          "nullable": true
                        },
                        "description": "Shared credentials that will be inherited by connected accounts. For eg: this can be used to share the API key for a tool with all connected accounts using this auth config."
                      }
                    },
                    "required": [
                      "type",
                      "credentials"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "default"
                        ]
                      },
                      "scopes": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        ]
                      },
                      "restrict_to_following_tools": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "default": [],
                        "description": "Use tool_access_config instead. This field will be deprecated in the future.",
                        "deprecated": true
                      },
                      "tool_access_config": {
                        "type": "object",
                        "properties": {
                          "tools_for_connected_account_creation": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "default": [],
                            "description": "Tools used to generate the minimum required scopes for the auth config (only valid for OAuth). If passed, this will update the scopes."
                          },
                          "tools_available_for_execution": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "default": [],
                            "description": "The actions that the user can perform on the auth config. If passed, this will update the actions that the user can perform on the auth config."
                          }
                        }
                      },
                      "shared_credentials": {
                        "type": "object",
                        "additionalProperties": {
                          "nullable": true
                        },
                        "description": "Shared credentials that will be inherited by connected accounts. For eg: this can be used to share the API key for a tool with all connected accounts using this auth config."
                      }
                    },
                    "required": [
                      "type"
                    ]
                  }
                ]
              },
              "examples": {
                "standardUpdate": {
                  "summary": "Standard credential update",
                  "value": {
                    "auth_config": {
                      "credentials": {
                        "api_key": "YOUR_NEW_API_KEY",
                        "client_secret": "YOUR_NEW_CLIENT_SECRET"
                      },
                      "restrict_to_following_tools": [
                        "tool1",
                        "tool2"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated auth config",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input or credentials format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found - Auth configuration does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - Something went wrong on the server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an authentication configuration",
        "description": "Soft-deletes an authentication configuration by marking it as deleted in the database. This operation cannot be undone.",
        "tags": [
          "Auth Configs"
        ],
        "operationId": "deleteAuthConfigsByNanoid",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "CookieAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "authConfigId",
              "description": "The unique identifier of the authentication configuration to delete"
            },
            "required": true,
            "description": "The unique identifier of the authentication configuration to delete",
            "name": "nanoid",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted auth config",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid auth config ID format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Auth config not found - The specified configuration does not exist or was already deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - Something went wrong on the server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/auth_configs/{nanoid}/{status}": {
      "patch": {
        "summary": "Enable or disable an authentication configuration",
        "description": "Updates the status of an authentication configuration to either enabled or disabled. Disabled configurations cannot be used for new connections.",
        "tags": [
          "Auth Configs"
        ],
        "operationId": "patchAuthConfigsByNanoidByStatus",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "CookieAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "authConfigId",
              "description": "The unique identifier of the authentication configuration to update"
            },
            "required": true,
            "description": "The unique identifier of the authentication configuration to update",
            "name": "nanoid",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "ENABLED",
                "DISABLED"
              ],
              "description": "The new status to set for the auth configuration"
            },
            "required": true,
            "description": "The new status to set for the auth configuration",
            "name": "status",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated auth config status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid auth config ID or status value",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found - Auth configuration does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - Something went wrong on the server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/connected_accounts": {
      "get": {
        "summary": "List connected accounts with optional filters",
        "tags": [
          "Connected Accounts"
        ],
        "operationId": "getConnectedAccounts",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "CookieAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "string"
              },
              "description": "The toolkit slugs of the connected accounts"
            },
            "required": false,
            "description": "The toolkit slugs of the connected accounts",
            "name": "toolkit_slugs",
            "in": "query"
          },
          {
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "string",
                "enum": [
                  "INITIALIZING",
                  "INITIATED",
                  "ACTIVE",
                  "FAILED",
                  "EXPIRED",
                  "INACTIVE"
                ]
              },
              "description": "The status of the connected account"
            },
            "required": false,
            "description": "The status of the connected account",
            "name": "statuses",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "nullable": true,
              "description": "The cursor to paginate through the connected accounts"
            },
            "required": false,
            "description": "The cursor to paginate through the connected accounts",
            "name": "cursor",
            "in": "query"
          },
          {
            "schema": {
              "type": "number",
              "nullable": true,
              "description": "The limit of the connected accounts to return"
            },
            "required": false,
            "description": "The limit of the connected accounts to return",
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "string"
              },
              "description": "The user ids of the connected accounts"
            },
            "required": false,
            "description": "The user ids of the connected accounts",
            "name": "user_ids",
            "in": "query"
          },
          {
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "string",
                "format": "authConfigId"
              },
              "description": "The auth config ids of the connected accounts"
            },
            "required": false,
            "description": "The auth config ids of the connected accounts",
            "name": "auth_config_ids",
            "in": "query"
          },
          {
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "string",
                "format": "connectedAccountId"
              },
              "description": "The connected account ids to filter by"
            },
            "required": false,
            "description": "The connected account ids to filter by",
            "name": "connected_account_ids",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "updated_at"
              ],
              "default": "created_at",
              "description": "The order by of the connected accounts"
            },
            "required": false,
            "description": "The order by of the connected accounts",
            "name": "order_by",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc",
              "description": "The order direction of the connected accounts"
            },
            "required": false,
            "description": "The order direction of the connected accounts",
            "name": "order_direction",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved connected accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "toolkit": {
                            "type": "object",
                            "properties": {
                              "slug": {
                                "type": "string",
                                "description": "The slug of the toolkit"
                              }
                            },
                            "required": [
                              "slug"
                            ]
                          },
                          "auth_config": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "authConfigId",
                                "description": "The id of the auth config"
                              },
                              "auth_scheme": {
                                "type": "string",
                                "enum": [
                                  "OAUTH2",
                                  "OAUTH1",
                                  "API_KEY",
                                  "BASIC",
                                  "BILLCOM_AUTH",
                                  "BEARER_TOKEN",
                                  "GOOGLE_SERVICE_ACCOUNT",
                                  "NO_AUTH",
                                  "BASIC_WITH_JWT",
                                  "CALCOM_AUTH",
                                  "SERVICE_ACCOUNT",
                                  "SAML",
                                  "DCR_OAUTH"
                                ],
                                "description": "the authScheme is part of the connection state use it there",
                                "deprecated": true
                              },
                              "is_composio_managed": {
                                "type": "boolean",
                                "description": "Whether the auth config is managed by Composio"
                              },
                              "is_disabled": {
                                "type": "boolean",
                                "description": "Whether the auth config is disabled"
                              },
                              "deprecated": {
                                "type": "object",
                                "properties": {
                                  "uuid": {
                                    "type": "string",
                                    "format": "uuid",
                                    "description": "The uuid of the auth config"
                                  }
                                },
                                "required": [
                                  "uuid"
                                ],
                                "deprecated": true
                              }
                            },
                            "required": [
                              "id",
                              "auth_scheme",
                              "is_composio_managed",
                              "is_disabled"
                            ]
                          },
                          "id": {
                            "type": "string",
                            "format": "connectedAccountId",
                            "description": "The id of the connection"
                          },
                          "user_id": {
                            "type": "string",
                            "description": "This is deprecated, we will not be providing userId from this api anymore, you will only be able to read via userId not get it back",
                            "deprecated": true
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "INITIALIZING",
                              "INITIATED",
                              "ACTIVE",
                              "FAILED",
                              "EXPIRED",
                              "INACTIVE"
                            ],
                            "description": "The status of the connection"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "The created at of the connection"
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "The updated at of the connection"
                          },
                          "state": {
                            "oneOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "authScheme": {
                                    "type": "string",
                                    "enum": [
                                      "OAUTH1"
                                    ]
                                  },
                                  "val": {
                                    "oneOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "subdomain": {
                                            "type": "string"
                                          },
                                          "your-domain": {
                                            "type": "string"
                                          },
                                          "region": {
                                            "type": "string"
                                          },
                                          "shop": {
                                            "type": "string"
                                          },
                                          "account_url": {
                                            "type": "string"
                                          },
                                          "COMPANYDOMAIN": {
                                            "type": "string"
                                          },
                                          "extension": {
                                            "type": "string"
                                          },
                                          "form_api_base_url": {
                                            "type": "string"
                                          },
                                          "instanceEndpoint": {
                                            "type": "string"
                                          },
                                          "api_url": {
                                            "type": "string"
                                          },
                                          "borneo_dashboard_url": {
                                            "type": "string"
[...]
