[submodule "ts/vendor/effect"]
	path = ts/vendor/effect
	url = git@github.com:Effect-TS/effect.git
	branch = main
[submodule "ts/vendor/clack"]
	path = ts/vendor/clack
	url = https://github.com/bombshell-dev/clack.git
[submodule "ts/packages/cli-local-tools/vendor/platform-imessage"]
	path = ts/packages/cli-local-tools/vendor/platform-imessage
	url = https://github.com/ComposioHQ/platform-imessage
	branch = main
[submodule "ts/packages/cli-local-tools/vendor/peekaboo"]
	path = ts/packages/cli-local-tools/vendor/peekaboo
	url = https://github.com/steipete/Peekaboo
