.env
try.ipynb
*pycache*
user_data.json
.venv
venv*
**/dist
.DS_Store
*egg-info*
**/composio_autogen.egg-info
**/composio_llamaindex.egg-info
**/__pycache__
**/*.egg-info
*.pyc
.tox/
.mypy_cache/

.coverage
coverage.xml
junit.xml

core/build/lib/*

node_modules
~

Pipfile.lock
build
temp
.cache
.pytest_cache
.test_results
.trunk
refactor_debug.ipynb
**/coder_agent_logs_*
**/.composio.coder.*
.indexing_status.json

python/dockerfiles/e2b-dev/composio
python/dockerfiles/composio
python/swe/dockerfiles/generated
python/swe/dockerfiles/logs*
python/swe/logs
python/swe/tests/logs_dir
python/swe/dockerfiles/indexed
python/swe/agentic
python/swe/dockerfiles/generated*
