[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.31.0,<3"
jsonschema = ">=4.21.1,<5"
beaupy = ">=3.7.2,<4"
termcolor = ">=2.4.0,<3"
pydantic = ">=2.6.4,<3"
openai = ">=1.3.0"
rich = ">=13.7.1,<14"
importlib-metadata = ">=4.8.1,<5"
cloup = ">=3.0.0"

[dev-packages]
black = ">=24.1.1"
isort = ">=5.13.2"
pytest = "==7.4.2"
tox = "==4.6.3"
semver = "==3.0.2"
build = "^1.2.1"
twine = "^5.0.0"
crewai = "^0.28.8"
pyautogen = "^0.2.26"
langchain = "^0.1.16"
lyzr = "^0.1.5"

