from agent import crew


def main() -> None:
    """Run the agent."""

    crew.kickoff(
        inputs={
            "repo": "repo",
            "issue": "issue",
        }
    )


if __name__ == "__main__":
    main()
