name: Fumadocs - Check Links

on:
  pull_request:
    paths:
      - 'fumadocs/**'

jobs:
  check-links:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./fumadocs

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Bun
        uses: oven-sh/setup-bun@db6bcf6eb8d88a8aa03265b887ec7bd84d64cd68 # v2.0.2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Validate links
        run: bun run lint:links
