name: Preview Docs

on:
  pull_request:
    paths:
      - 'fern/**'

jobs:
  run:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/composiohq/dev-base:latest
    permissions: write-all
    env:
      COMPOSIO_API_KEY: ${{ inputs.api_key || secrets.COMPOSIO_API_KEY }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Install dependencies
        run: pnpm install
        env:
          BYPASS_BUN_VERSION_CHECK: '1'

      - name: Install git
        run: |
          apt-get update && apt-get install -y git

      - name: Install Python Dependencies
        working-directory: ./fern
        run: |
          uv sync
          uv pip install ../python 

      - name: Install Fern
        run: npm install -g fern-api

      - name: Generate preview URL
        id: generate-docs
        working-directory: ./fern
        env:
          FERN_TOKEN: ${{ secrets.FERN_TOKEN }}
          POSTHOG_API_KEY: ${{ secrets.POSTHOG_API_KEY }}
        shell: bash
        run: |
          set -o pipefail
          pnpm turbo run preview | tee preview.log

          URL=$(grep -oP 'Published docs to \K.*(?= \()' preview.log | tail -n 1 || true)

          if [ -z "$URL" ]; then
            echo "::error::Failed to extract preview URL from preview.log"
            exit 1
          fi

          echo "Preview URL: $URL"
          echo "Preview your docs: $URL" > preview_url.txt

      - name: Comment URL in PR
        uses: thollander/actions-comment-pull-request@24bffb9b452ba05a4f3f77571d79be56e96dcb1d # v2.4.3
        with:
          filePath: fern/preview_url.txt
