name: Publish Docs

on:
  push:
    branches:
     - master

jobs:
  run:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' && contains(github.ref, 'refs/heads/master') && github.run_number > 1 }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          
      - name: Install Python dependencies
        run: pip install typing-extensions

      - name: Generate Python SDK documentation
        run: python scripts/generate_api_docs.py --source ./python/composio --output ./fern/sdk

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest
          
      - name: Install TypeDoc dependencies
        run: bun install typedoc typedoc-plugin-markdown

      - name: Generate TypeScript SDK documentation
        run: bun run typedoc --plugin typedoc-plugin-markdown src/index.ts src/sdk/index.ts --out ./fern/sdk/composio/js --skipErrorChecking

      - name: Install Fern
        run: npm install -g fern-api

      - name: Pull Latest OpenAPI Specification
        run: sh fern/scripts/pull-openapi-spec.sh

      - name: Publish Docs
        env:
          POSTHOG_API_KEY: ${{ secrets.POSTHOG_API_KEY }}
          FERN_TOKEN: ${{ secrets.FERN_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: fern generate --docs