name: Checks
on:
  push:
    branches:
      - master
    paths:
      - "python/**/*.py"
      - ".github/workflows/py.check.yaml"
  pull_request:
    types: [opened, synchronize]
    paths:
      - "python/**/*.py"
      - ".github/workflows/py.check.yaml"

jobs:
  common-checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 50

      - name: Setup Python with UV
        id: setup-python
        uses: ./.github/actions/setup-python-uv

      - name: nox cache
        id: nox-cache
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: python/.nox
          key: nox-${{ hashFiles('pyproject.toml') }}-py${{ steps.setup-python.outputs.python-version }}
          restore-keys: |
            nox-

      - name: Mypy cache
        id: mypy-cache
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: python/.mypy_cache
          key: mypy-${{ hashFiles('pyproject.toml') }}-py${{ steps.setup-python.outputs.python-version }}
          restore-keys: |
            mypy-

      - name: Ruff cache
        id: ruff-cache
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: python/.ruff_cache
          key: ruff-${{ hashFiles('pyproject.toml') }}-py${{ steps.setup-python.outputs.python-version }}
          restore-keys: |
            ruff-

      - name: Install deps
        run: |
          cd python/
          make env

      - name: Lint and type checks
        shell: bash
        run: |
          cd python/
          uv run nox -s chk
