name: Release Python Packages
on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      skip_tests:
        description: "Skip running tests"
        required: false
        type: boolean
        default: false

jobs:
  publish-core:
    name: Build and release SDK
    defaults:
      run:
        working-directory: ./python
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Python with UV
        uses: ./.github/actions/setup-python-uv

      - name: Build Artifacts
        run: |
            make env
            make build

      - name: Publish Artifacts
        if: github.event_name == 'release'
        uses: pypa/gh-action-pypi-publish@76f52bc884231f62b9a034ebfe128415bbaabdfc # v1.12.4
        with:
          packages-dir: ./python/dist
          user: ${{ secrets.PYPI_USERNAME }}
          password: ${{ secrets.PYPI_PASSWORD }}
          skip-existing: true