name: Build Typescript SDK

on:
  push:
    branches: [main]
    paths:
      - "ts/**"
  pull_request:
    paths:
      - "ts/**"

jobs:
  build:
    name: Build Typescript SDK
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Node.js with PNPM
        uses: ./.github/actions/setup-node-pnpm

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Run Linting
        run: pnpm lint

      - name: Run Build
        run: pnpm run build:packages
