name: Test Typescript SDK

on:
  push:
    branches: [main, next]
    paths:
      - "ts/**"
  pull_request:
    branches: [main, next]
    paths:
      - "ts/**"

jobs:
  test:
    name: Test Typescript SDK
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Node.js, pnpm, Bun
        uses: ./.github/actions/setup-node-pnpm-bun

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Run Tests
        run: pnpm run test
